* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #0559A5;
}

.card {
	width: 180px;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem;
	border-radius: 20%;
	cursor: pointer;
	transition: all .2s ease;
}
.card:hover {
	transform: scale(1.1);
}

.naruto {
	background: linear-gradient(135deg,#edb870,#e86e38)
}

.naruto img {
	height: 220px;
}

.sasuke {
	background: linear-gradient(135deg,#A797B3,#6F6080)
}
.sasuke img {
	height: 210px;
	padding-left: 10px;
}

.sakura {
	background: linear-gradient(135deg,#EAB7BE,#E0868F)
}

.sakura img {
	height: 205px;
}